.regField {
	width: 100%;
	background-color: #f7f7f7;
	color: #000;
	border: 1px solid #ddd;
	padding: 1.5rem;
	font-size: 1.5rem;
	border-radius: 5px;
}

.submitBtn {
	width: 100%;
	background-color: #425f9c;
	border: none;
	border-radius: 1rem;
	color: #fff;
	padding: 1.5rem;
	margin: 1.5rem 0;
	font-size: 1.5rem;
	cursor: pointer;
	box-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.6);
	transition: all 0.3s ease-in-out;
}

.submitBtn:hover {
	background-color: #fff;
	color: #425f9c;
}

.submitBtn:active {
	transform: scale(0.98);
}

.error {
	padding: 1rem;
	background-color: #feeaea;
	border: 1px solid #fadadb;
	margin-bottom: 1rem;
	border-radius: 5px;
	font-size: 1.2rem;
}
